p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  font-family: "Spectral";
  font-weight: 600;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, monospace;
  font-size: 0.875rem;
  border-radius: 0.125rem;
  padding: 0.125rem 0.25rem;
  background-color: var(--bg-code);
}

.grid {
  min-height: 100vh;
  display: grid;
}

main {
  --padding: 2rem;
  --page-gutter: minmax(0, 4fr);
  --content-gutter: minmax(1.5rem, 1fr);
  display: grid;
  grid-row-gap: 1.5em;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  grid-template-columns:
    [full-start]
    var(--page-gutter)
    [lg-breakout-start]
    minmax(0, 3fr)
    [md-breakout-start]
    var(--content-gutter)
    [content-start]
    minmax(10rem, 50ch)
    [content-end]
    var(--content-gutter)
    [md-breakout-end]
    minmax(0, 3fr)
    [lg-breakout-end]
    var(--page-gutter)
    [full-end];
}

@media (min-width: 50rem) {
  main {
    font-size: 1.25rem;
  }
}

main > * {
  grid-column: content;
}

main a:hover {
  text-decoration-style: wavy;
}

main a:focus {
  outline: 0;
  position: relative;
  outline: 0.125rem dashed var(--primary);
  outline-offset: 2px;
}

.blog-header {
  grid-column: content;
  position: relative;
}

@media (min-width: 30em) {
  .blog-header {
    grid-column: lg-breakout;
    margin-bottom: 2rem;
  }
}

/* header::after {
  content: "";
  position: absolute;
  --size: calc(5em + 5vw);
  width: var(--size);
  height: var(--size);
  --stripe-color: var(--orange);
  --stripe-width: 0.35rem;
  background-image: repeating-linear-gradient(
    45deg,
    var(--stripe-color),
    var(--stripe-color) var(--stripe-width),
    transparent var(--stripe-width),
    transparent calc(var(--stripe-width) * 2)
  );
  bottom: 0;
  left: 0;
  z-index: -10;
  transform: scale(0) rotate(-90deg);
  animation: pop 0.3s 0.5s forwards;
} */

/* header::before {
  --stripe-color: hsla(220, 100%, 88%, 0.5);
  bottom: -0.5rem;
  left: 0.125rem;
} */

@keyframes pop {
  to {
    transform: scale(1) rotate(45deg);
  }
}

.header-container {
  display: grid;
  align-content: start;
  grid-row-gap: 1rem;
  line-height: 1;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: calc(1em + 2vw);
}

pre {
  overflow-x: auto;
  padding: 1.5rem;
  background-color: var(--bg-code);
  grid-column: md-breakout / lg-breakout;
}

@media (min-width: 30em) {
  pre {
    border-radius: 0.125rem;
    padding: 2rem;
  }
}

@supports (grid-template-columns: subgrid) {
  pre {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: subgrid;
  }
}

pre > * {
  padding: 0;
  background-color: var(--bg-code);
}

@supports (grid-template-columns: subgrid) {
  pre > * {
    grid-column: content;
  }
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
  grid-column: md-breakout / lg-breakout;
}

@media (min-width: 30em) {
  img {
    border-radius: 0.125rem;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #5e6687;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #dfe2f1;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #dfe2f1;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #898ea4;
}

.token.punctuation {
  color: #5e6687;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #c76b29;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #3d8fd1;
}

.token.string {
  color: #22a2c9;
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #ac9739;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #c94922;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #dfe2f1;
}

.line-numbers-rows > span:before {
  color: #979db4;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
  background: rgba(107, 115, 148, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(107, 115, 148, 0.2) 70%,
    rgba(107, 115, 148, 0)
  );
  background: linear-gradient(
    to right,
    rgba(107, 115, 148, 0.2) 70%,
    rgba(107, 115, 148, 0)
  );
}

@media (prefers-color-scheme: dark) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: hsl(220, 10%, 70%);
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #898ea4;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: hsl(220, 20%, 50%);
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  .token.comment,
  .token.punctuation,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: hsl(220, 40%, 68%);
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.operator,
  .token.property,
  .token.attr-name {
    color: hsl(25, 70%, 60%);
  }

  .token.tag,
  .token.selector {
    color: hsl(220, 100%, 75%);
  }

  .token.string,
  .token.boolean,
  .token.number,
  .token.entity,
  .token.url,
  .token.statement,
  .token.regex,
  .token.atrule,
  .language-css .token.string,
  .style .token.string {
    color: hsl(195, 70%, 50%);
  }

  .token.attr-value,
  .token.keyword,
  .token.control,
  .token.directive,
  .token.unit {
    color: hsl(50, 60%, 60%);
  }

  .token.placeholder,
  .token.variable {
    color: #3d8fd1;
  }

  .token.inserted {
    border-bottom: 1px dotted #f5f7ff;
    text-decoration: none;
  }

  .token.italic {
    font-style: italic;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.important {
    color: hsl(15, 70%, 50%);
  }

  pre > code.highlight {
    outline: 0.4em solid hsl(15, 70%, 50%);
    outline-offset: 0.4em;
  }

  .line-numbers .line-numbers-rows {
    border-right-color: #293256 !important;
  }

  .line-numbers-rows > span:before {
    color: #5e6687 !important;
  }

  .line-highlight {
    background: rgba(245, 247, 255, 0.2) !important;
    background: -webkit-linear-gradient(
      left,
      rgba(245, 247, 255, 0.2) 70%,
      rgba(245, 247, 255, 0)
    ) !important;
    background: linear-gradient(
      to right,
      rgba(245, 247, 255, 0.2) 70%,
      rgba(245, 247, 255, 0)
    ) !important;
  }
}
