* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --light: hsl(220, 10%, 98%);
  --dark: hsl(220, 10%, 32%);
  --darker: hsl(220, 15%, 18%);
  --darkest: hsl(220, 15%, 12%);

  --bg-code: hsl(220, 10%, 95%);
  --text: var(--dark);
  --text-lc: hsl(220, 15%, 46%);
  --bg: var(--light);
  --bg-lc: hsl(220, 15%, 90%);
  --orange: hsl(20, 100%, 80%);
  --blue: hsl(220, 100%, 80%);
  --primary: hsl(20, 100%, 70%);

  --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  --serif: "Spectral", Georgia, Times, Times New Roman, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(220, 10%, 90%);
    --text-lc: hsl(220, 20%, 75%);
    --bg: hsl(220, 15%, 22%);
    --bg-code: var(--darker);
    --bg-lc: hsl(220, 15%, 75%);
  }
}

html {
  font-size: 1.125rem;
}

@media (min-width: 30em) {
  html {
    font-size: 1.25rem;
  }
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: var(--serif);
  text-rendering: optimizelegibility;
  color: var(--text);
  background-color: var(--bg);
}

.switcher {
  --space: 1rem;
  --measure: 40rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: calc((var(--space) / 2) * -1);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure) - (100% - var(--space))) * 999);
  margin: calc(var(--space) / 2);
}

.cluster {
  --space: 1rem;
  overflow: hidden;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * {
  margin: calc(var(--space) / 2);
}

.site-header {
  grid-area: header;
  display: flex;
  padding: 1rem;
  font-size: 0.875rem;
}

.site-header nav {
  margin-left: auto;
}

.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-header li + li {
  margin-left: 1rem;
}

main {
  grid-area: main;
  justify-self: center;
  padding: 1.5rem;
  text-align: center;
}

@supports (display: grid) {
  main {
    display: grid;
    grid-template-columns:
      minmax(1.5rem, 1fr)
      minmax(0, 50rem)
      minmax(1.5rem, 1fr);
    align-content: start;
    grid-row-gap: 1.5rem;
    padding: 0;
  }
}

main > * {
  grid-column: 2 / 3;
}

.site-footer {
  grid-area: footer;
  padding: 1rem;
}
