.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  font-size: 1.25rem;
}

.post {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto 1fr;
  grid-row-gap: 0.5rem;
}

.post::after {
  content: "";
  display: block;
  width: 6rem;
  margin-top: 1rem;
  align-self: end;
  border-bottom: 0.125rem solid var(--orange);
}

.post__link {
  display: block;
  line-height: 1.2;
  text-decoration: none;
}

.post__link:hover {
  text-decoration: underline;
}

.post__info {
  font-size: 1rem;
  color: var(--text-lc);
}
