.tag {
  display: block;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-family: var(--sans-serif);
  background-color: var(--bg-lc);
  padding: 0.25rem 0.75rem;
  color: var(--darker);
  text-decoration: none;
  transition: 0.2s background-color;
}

.tag:hover {
  background-color: var(--orange);
  text-decoration: underline;
}
