.tag {
  display: block;
  border-radius: 0.125rem;
  background-color: var(--bg-lc);
  padding: 0.25rem 0.5rem;
  color: var(--darkest);
  text-decoration: none;
  transition: 0.2s background-color;
}

.tag:hover {
  background-color: var(--orange);
  text-decoration: underline;
}

.tag:focus {
  outline: 0.25rem solid var(--blue);
  outline-offset: 0.25rem;
}
